.vacancy_career{
	position: relative;
	margin-top: 30px;
	.container{
		position: static;
		.main_title{
			font-size: 35px;
			font-weight: 650;
		}
		.main_text{
			font-size: 22px;
		}
		hr{
			position: absolute;
			left: 0;
			top: 37px;
			width: 31.5%;
			background: black;
			border: 0.5px solid black;
		}
		.main_text{	
			font-weight: 550;
		}

		.plan_career{

			margin-bottom: 80px;

			.info_text{
				.bold_text{
					margin-top: 30px;
					font-weight: 600;
				}
				.list_text{
					margin: auto;
					img{
						margin-right: 15px;
					}
				}
			}
			.collapsetext{
				cursor: pointer;
			}
			.collapse-active{
				color: #00b0c7;
			}
			.date-active{
				background-color: #00b0c7 !important; 
			}
			.col-xl-2{
				padding-bottom: 70px;
				/*border-left: 3px dashed #1f3a5b;*/
				padding: 20px;		
				background: url('../img/svg.svg');
				background-position-y: 14.8%;
				background-position-x: 0%;
				background-repeat: no-repeat;
			}
			.row {
				margin-bottom: 0 !important;
			}
			.spec {
				.col-xl-2{
					background-position-y: -833px;
				}
			}
			#accordion {
				.spec {
					position: relative;
					&:last-child{
						&:before {
							content: "";
							display: inline-block;
							position: absolute;
							left: 0;
							bottom: 0;
							height: 80%;
							width: 5px;
						}
					}	
				}
			}
			.date{
				background-color: #1f3a5b;
				color: white;
				padding: 10px;
				position: relative;
				cursor: pointer;
				.lines{
					position: absolute;
					left: -50px;
					top: 2px;
					display: inline;	
					.line{
						width: 9px;
						height: 3px;
						background-color: #1f3a5b;
						padding-right: 5px;
						display: inline-block;	
					}
				}
			}
			.collapse .show{
				background-color: red;
			}
			.date_focused{
				background-color: #1f3a5b;
			}
			.row{
				margin-bottom: 50px;
			}

			.col-xl-2{
				text-align: center;
				align-items: center;
			}
			.col-xl-10{
				margin: auto;
				margin-top: 20px;
				border-bottom: 1px solid #cad6df;
				padding-bottom: 6px;
				.arrow_vacancy_career{
					cursor: pointer;
				}
				.direction{
					transform: rotate(180deg);
					opacity: 0.3;
				}

			}

		}

	}
}
.hidden {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition-timing-function: linear, step-end;
}
.social_package_career{
	background-image: url('../img/social_package_career.png');
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 100px;
	position: relative;
	.container{
		position: static;
		.main_title{
			color: white;
			font-size: 30px;
		}
		hr{
			position: absolute;
			left: 0;
			top: 96px;
			width: 28%;
			background: white;
			border: 0.5px solid white;
		}
		.row{

			.col-xl-6{

				.wrapper_career{
					position: relative;
					cursor: pointer;
					transition: width 1s;
					margin-bottom: 15px;
					img{
						width: 100%;
						
					}
					.bg_photo{
						transition: width 1s;
						border-left: 5px solid #1f3a5b;
					}
					.info_career{
						transition: all 1s;
						position: absolute;
						width: 80px;
						top: 10px;
						left: -1px;
					}	

					.texts{
						position: absolute;
						transition: all 1s;
						top: 22%;
						left: 15%;
						margin: auto;
						width: 70%;
						color: white;
						transform: scale(0);
						.main_title{

						}
						.text{
							
						}
					}
					.x_career{
						transition: all 1s;
						position: absolute;
						top: 25px;
						right: -20px;
						width: 55px;
						transform: scale(0);
					}
				}
			}
		}
	}
}

.learn_development_career{
	margin-top: 70px;

	position: relative;
	.container{
		position: static;
		.main_title{
			font-size: 30px;
			font-weight: 750;
		}
		hr{
			position: absolute;
			left: 0;
			top: 34px;
			width: 30.5%;
			background: white;
			border: 0.5px solid black;

		}
		.row{
			.col-xl-7{
				margin: auto;

				.wrapper_photo{

					img{
						width: 100%;
					}
				}	
			}
			.wrapper_text_one{
				color: white;
				background-color: #243247;
				position: relative;
				left: -34px;
				z-index: -1;
				border-left: 4px solid black;
				padding: 60px 25px;
				padding-right: 40px;
				.main_text{

					font-size: 20px;
					font-weight: 600;
				}
				.text{

				}

				.photo_question{
					position: absolute;
					top: 5px;
					right: -48px;
					width: 135px;
					img{
						width: 100%;
					}
				}
				.arrow{
					position: absolute;
					bottom: 0;
					right: 0;
					width: 20px;
					height: 20px;
					background: linear-gradient(315deg, rgba(255,255,255,1) 50%, rgba(46,46,179,1) 50%, rgba(205,217,226,1) 50%);
				}
			}

			.wrapper_text_two{

				.main_text{
					font-size: 20px;
					font-weight: bold;

				}

				.text{

				}
			}
			.learn_photo_two{
				width: 445px;
				position: relative;
				left: 60px;
			}

		}
		.second_block{
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
}

.company_policy{
	
	margin-bottom: 100px;
	.container{
		border: 3px solid #dfdfdf;
		position: relative;
	}
	.main_title{
		position: absolute;
		top: -18px;
		left: 14px;
		border-right: 100px solid white;
		border-left: 30px solid white;
		background-color: white;
		font-size: 20px;
		font-weight: 800;
	}

	.text{
		padding: 44px;
		width: 100%;
	}
	.learn_quotes{
		background-color: white;
		z-index: 100;
		img{
			position: absolute;
			right: 8px;
			top: -20px;
			border: 5px solid white;
			background-color: white;
			z-index: 100;
		}
	}
}

/* Media query Phone */
@media only screen and (max-width: 577px){

	body{
		
	}
	.vacancy_career {
		padding-top: 30px;
		.container{
			.plan_career{
				
				.col-xl-2{
					text-align: initial;
					background: initial;
					background-position-x: 5%;
				}
				.date{

					.lines{
						display: none;
						left: -25px;
					}
				}
			}
			hr{
				top: 81px;
				width: 65%;
			}
		}
	}
	
	.social_package_career {
		padding-top: 30px;
		padding-bottom: 30px;
		.container{
			
			hr{
				top: 60px;
			}
			.row{

				.col-xl-6{

					.wrapper_career{
						
						.texts{
							top: 3%;
							left: 3%;
							width: 95%;
							.main_title{
								font-size: 22px;
							}
							.text{
								font-size: 12px;
							}
						}
						.x_career{
							top: -10px;
						}
						img{
							top: -20px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	.learn_development_career {
		margin-top: 30px;
		.container{
			
			hr{
				width: 85%;
				top: 34px;
			}

			.row{
				.wrapper_text_one{
					position: static;
					.arrow{
						width: 48px;
					}
					.photo_question{
						right: 0;
					}
				}
				.learn_photo_two{
					position: static;
					width: 100%;
				}
			}
		}
	}

	.company_policy{
		padding: 10px;
		margin-bottom: 50px;
		.text{
			padding: 0;
		}
		.container{

			.main_title{
				margin-top: 50px;
				position: static;
				border-right: initial;
				border-left: initial;
			}
		}
		.learn_quotes {

			img{
				top: -20px;
				right: 35px;
			}
		}
	}
}
@media only screen and (max-width: 338px){
	.vacancy_career {
		.container {
			hr {
				top: 120px;
				width: 50%;
			}
		}
	}
	.social_package_career {
		.container {
			hr {
				top: 60px;
			}
		}
	}
	.learn_development_career {
		.container {
			hr {
				top: 34px;
			}
		}
	}
}
/* Media query  */
@media only screen and (min-width: 578px) and (max-width: 767px){
	body{
		
	}
	.vacancy_career {
		padding-top: 30px;
		.container{
			.plan_career{
				
				.col-xl-2{
					text-align: initial;
					background: initial;
					background-position-x: 5%;
				}
				.date{

					.lines{
						display: none;
						left: -25px;
					}
				}
			}
			hr{
				top: 81px;
				width: 65%;
			}
		}
	}
	
	.social_package_career {
		padding-top: 30px;
		padding-bottom: 30px;
		.container{
			
			hr{
				top: 60px;
			}
			.row{

				.col-xl-6{

					.wrapper_career{
						
						.texts{
							top: 3%;
							left: 3%;
							width: 95%;
							.main_title{
								font-size: 22px;
							}
							.text{
								font-size: 12px;
							}
						}
						.x_career{
							top: -10px;
						}
						img{
							top: -20px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	.learn_development_career {
		margin-top: 30px;
		.container{
			
			hr{
				width: 85%;
				top: 34px;
			}

			.row{
				.wrapper_text_one{
					position: static;
					.arrow{
						width: 48px;
					}
					.photo_question{
						right: 0;
					}
				}
				.learn_photo_two{
					position: static;
					width: 100%;
				}
			}
		}
	}

	.company_policy{
		padding: 10px;
		margin-bottom: 50px;
		.text{
			padding: 0;
		}
		.container{

			.main_title{
				margin-top: 50px;
				position: static;
				border-right: initial;
				border-left: initial;
			}
		}
		.learn_quotes {

			img{
				top: -20px;
				right: 35px;
			}
		}
	}
}
/* Media query  */
@media only screen and (min-width: 768px) and (max-width: 991px){
	body{
		
	}
	.vacancy_career {
		padding-top: 30px;
		.container{
			.plan_career{
				
				.col-xl-2{
					text-align: initial;
					background: initial;
					background-position-x: 5%;
				}
				.date{

					.lines{
						display: none;
						left: -25px;
					}
				}
			}
			hr{
				top: 81px;
				width: 65%;
			}
		}
	}
	
	.social_package_career {
		padding-top: 30px;
		padding-bottom: 30px;
		.container{
			
			hr{
				top: 60px;
			}
			.row{

				.col-xl-6{

					.wrapper_career{
						
						.texts{
							top: 21%;
							left: 5%;
							width: 70%;
							.main_title{
								font-size: 25px;
							}
							.text{
								font-size: 14px;
							}
						}
						.x_career{
							top: -10px;
						}
						img{
							top: -20px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	.learn_development_career {
		margin-top: 30px;
		.container{
			
			hr{
				width: 85%;
				top: 34px;
			}

			.row{
				.wrapper_text_one{
					position: static;
					.arrow{
						width: 48px;
					}
					.photo_question{
						right: 0;
					}
				}
				.learn_photo_two{
					position: static;
					width: 100%;
				}
			}
		}
	}

	.company_policy{
		padding: 10px;
		margin-bottom: 50px;
		.text{
			padding: 0;
		}
		.container{

			.main_title{
				margin-top: 50px;
				position: static;
				border-right: initial;
				border-left: initial;
			}
		}
		.learn_quotes {

			img{
				top: -20px;
				right: 35px;
			}
		}
	}
}

/* Media query */
@media only screen and (min-width: 992px) and (max-width: 1199px){
	body{
		
	}
	.vacancy_career {
		padding-top: 30px;
		.container{
			.plan_career{
				
				.col-xl-2{
					text-align: initial;
					background: initial;
					background-position-x: 5%;
				}
				.date{

					.lines{
						display: none;
						left: -25px;
					}
				}
			}
			hr{
				top: 81px;
				width: 65%;
			}
		}
	}
	
	.social_package_career {
		padding-top: 30px;
		padding-bottom: 30px;
		.container{
			
			hr{
				top: 60px;
			}
			.row{

				.col-xl-6{

					.wrapper_career{
						
						.texts{
							top: 30%;
							left: 10%;
							width: 70%;
							.main_title{
								font-size: 25px;
							}
							.text{
								font-size: 14px;
							}
						}
						.x_career{
							top: -10px;
						}
						img{
							top: -20px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	.learn_development_career {
		margin-top: 30px;
		.container{
			
			hr{
				width: 85%;
				top: 34px;
			}

			.row{
				.wrapper_text_one{
					position: static;
					.arrow{
						width: 48px;
					}
					.photo_question{
						right: 0;
					}
				}
				.learn_photo_two{
					position: static;
					width: 100%;
				}
			}
		}
	}

	.company_policy{
		padding: 10px;
		margin-bottom: 50px;
		.text{
			padding: 0;
		}
		.container{

			.main_title{
				margin-top: 50px;
				position: static;
				border-right: initial;
				border-left: initial;
			}
		}
		.learn_quotes {

			img{
				top: -20px;
				right: 35px;
			}
		}
	}
}
