 .partners{
	position: relative;
	margin-top: 30px;
	.container{
		position: static;
		.partners_part_one{
			.where_buy{
				font-size: 24px;
				margin-bottom: 0px;
			}
			.partners_p{
				font-size: 45px;
				font-weight: bold;
			}
			
			.where_buy{
				font-size: 24px;
				margin-bottom: 0px;
			}
			.partners_p{
				font-size: 45px;
				font-weight: bold;
			}
			hr{
				position: absolute;
				width: 34.5%;
				top: 15%;
				left: 0;
				background: black;
				border: 0.8px solid black;				
			}	
		}
		.partners_part_two{
			margin-top: 70px;
			.col-xl-4{
				margin-bottom: 50px;
				text-align: center;
				.wrapper{
					position: relative;
					text-align: center;
					img{
						width: 100%;
					}
					p{
						position: absolute;
						background-color: #fff;
						opacity: 0.9;
						left: -5%;
						bottom: 5%;
						color: black;
						font-size: 24px;
						padding-top: 10px;
						padding-bottom: 10px;
						width: 350px;
						max-width: 100%; 
					}
				}
				.toSite{
					margin: auto;
					max-height: 30px;
					a{
						margin: auto;
						margin-top: 20px;
						width: 60%;
						display: block;
						padding: 10px 20px 10px 20px;
						color: white;
						text-transform: uppercase;
						background-color: #00b0c7;
					}
					a:hover{
						text-decoration: none;
						background-color: transparent;
						color: #00b0c7;
						border: 1px dotted #00b0c7; 
					}	
				}
				
			}
			
		}
	}
}



.certificates_clients{
	margin-top: 50px;
	background-image: url('../img/certificate_bg_clients.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	padding-bottom: 100px;
	padding-top: 100px;
	position: relative;
	.main_p{
		display: inline;
		.main_text{
			display: inline;
			font-size: 40px;
			color: white;
			font-weight: 600;
		}	
	}
	
	.arrow_certificate_clients{
		display: inline;

		img{
			width: 10%;
			margin-top: 39px;
			margin-left: 48px;
		}
	}
	.pagination_letter_clients{
		display: block;
		margin-top: 27px;
		margin-right: 31px;

		div{

			padding: 10px;
			background-color: #f4f4f4;
			display: inline;
			img{

			}
		}
	}			
	.container{
		position: static;
		.row_certificates{
			margin-top: 25px;
		}
		.row{
			
			.col-xl-4{
				position: static;
				p{
					color: white;
					z-index: 100;
				}
				
				hr{
					position: absolute;
					left: 0;
					top: 154px;
					width: 27%;
					background: white;
					border: 0.7px solid white;
				}
			}
			.col-xl-8{
				.wrapper_certificate{

				}
				

				.certificates_row{
					margin: auto;
				}

			}
		}
	}
	
}	

.main_suppliers{
	margin-top: 60px;
	margin-bottom: 50px;
	position: relative;
	.main_text{
		font-size: 35px;
		margin-bottom: 30px;
		font-weight: 600;
	}
	hr{
		position: absolute;
		left: 0;
		top: 7%;
		width: 35.5%;
		background: black;
		border: 0.7px solid black;
	}
	.container{
		position: static;
	}
	.col-xl-4{
		.wrapper{
			position: relative;
			text-align: center;
			img{
				width: 100%;
			}
			p{
				position: absolute;
				background-color: #dbdfe2;
				opacity: 0.9;
				left: -5%;
				top: 75%;
				color: black;
				font-size: 20px;
				padding: 15px 95px 15px 90px; 
			}
		}
		.definition{
			margin-top: 30px;
			font-size: 14px;
			.bold_text{
				font-weight: bold;
			}
		}
	}
}

.portfolio_clients{
	margin-top: 50px;
	background-image: url('../img/portfolio_bg_clients.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 70px;
	position: relative;
	.main_text{
		color: white;
		font-size: 35px;
		display: inline;
	}
	hr{
		position: absolute;
		left: 0;
		top: 16%;
		width: 34%;
		background: white;
		border: 0.7px solid white;
	}
	.all{
		margin-top: 20px;
		a{
			color: white;
		}
	}

	.wrapper{
		position: relative;
		text-align: center;
		img{
			width: 100%;
		}
		p{
			position: absolute;
			background-color: white;
			opacity: 0.9;
			left: 0%;
			top: 75%;
			color: black;
			font-size: 20px;
			padding: 4% 30% 4% 10%; 
		}
	}
}

.pressa_clients{
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	.container{
		position: static;
	}
	.main_text{
		font-size: 35px;
	}
	hr{
		position: absolute;
		left: 0;
		top: 9%;
		width: 24%;
		background: black;
		border: 0.7px solid black;
	}
	.full_text{

		span{
			color: #e3e8ea;
		}
	}
	a{
		font-weight: bold;

	}
	.wrapper_video{
		margin: auto;
		img{
			margin: auto;
		}
	}
	video{
		width: 100%;
		height: 100%;
	}
}
.news_clients{

	margin-bottom: 50px;	
	
	p{
		font-weight: bold;
		font-size: 25px;
	}
	.wrapper_card{
		.photo{
			width: 100%;
		}
		p{
			font-weight: normal;
			font-size: 18px;
			width: 90%;
			margin-top: 15px;
		}
		a{
			font-weight: bold;
		}
	}
}

.social_projects_clients{
	margin-top: 50px;
	background-image: url('../img/social_bg_clients.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 40px;
	padding-top: 70px;
	position: relative;
	color: white;
	.container{
		position: static;
	}
	.col-xl-8{
		position: static;
	}
	.main_text{
		font-size: 37px;
		margin-bottom: 50px;
	}
	hr{
		position: absolute;
		left: 0;
		top: 16%;
		width: 35%;
		background: white;
		border: 0.7px solid white;
	}
	.done_social{
		margin-left: 10px;
	}
	.col-xl-10{
		
		.full_text{
			color: #e3e8ea;
		}
		.title_social{
			color: white;
			font-weight: bold;
			font-size: 22px;
		}	
	}

	.man_right_side{
		position: absolute;
		bottom: 0;
		right: 0;
	}
	
}

.thank_letter{
	margin-top: 50px;
	margin-bottom: 150px;

	.owl-carousel .owl-item img{
		width: auto;
	}
	.owl-stage-outer{
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.main_text{
		font-size: 35px;
		font-weight: bold;
		margin-bottom: 50px;
		display: inline;
	}
	hr{
		position: absolute;
		left: 0;
		width: 39.5%;
		background: black;
		border: 0.7px solid black;
	}


	.pagination_letter_clients{
		display: inline;
		margin-top: 12px;
		margin-right: 16px;
		div{

			padding: 10px;
			background-color: #f4f4f4;
			display: inline;
			img{

			}
		}
	}
	
	.row{
		padding-top: 30px;
		.wrapper_letter{

			padding-top: 30px;
			display: flex;
			flex-direction: row;
			border: 7px solid #eff4f8;
			
			.photo{

				img{

					height: 100%;
				}
			}

			.letters{

				.company_information{
					color: gray
				}
			}
			.container_quote{
				position: absolute;
				left:8%;
				top: -5%;
				width: 7%;
				height: 11%;
				border: 7 solid white;
			}
		}
	}

	.diploma_letter{
		padding-top: 3rem;

		

		.card_letter{
			position: relative;
			border: 5px solid #eff4f8;
			padding: 1.5rem .5rem;

			.col-xl-5{

				.photo{

					img{
						position: absolute;
						top: -2%;
						width: 100%;
					}
				}
			}

			.col-xl-7{
				
				.company_information{
					color: gray
				}						
			}
			.container_quote{
				position: absolute;
				top: -1.9rem;
				left: 1.5rem;
				border: 8px solid #fff;
			}
		}
		
	}		
}


/* Phone media queries */
@media screen and (max-width: 577px) and (min-width: 250px) {
	.partners{
		.container{
			.partners_part_one{

				.partners_p{
					font-size: 25px;
				}	
				hr{
					top: 4%;
				}	
				
			}
		}

		.partners_part_two{

			.col-xl-4{

				margin-bottom: 20px;
			}
		}
	}
	.certificates_clients{
		padding-top: 30px;
		margin-top: 0;
		.container{

			.main_text{
				font-size: 35px;
			}
			.row{
				.col-xl-4{
					hr{

						top: 70px;
						width: 50%;
					}			
				}
			}
		}
		.arrow_certificate_clients{
			display: none;
		}
		.pagination_letter_clients{
			display: none;
		}

		.col-xl-8{

			.certificates_row{
				padding: 0;
				margin: auto;
			}
		}
	}

	.main_suppliers{
		p{
			max-width: 100%;
		}
		hr{
			top: 6%;
			width: 55%;
		}
		.col-xl-4{
			margin-bottom: 20px;
		}
	}
	.portfolio_clients{
		padding-top: 20px;
		margin-top: 0;
		padding-bottom: 0;
		hr{
			top: 4%;
			width: 60%;
		}
		.all{
			float: none !important;
		}
	}
	.pressa_clients{

		hr{
			top: 7%;
		}
	}
	.news_clients{
		
		.row{
			
			.wrapper_card{
				margin-bottom: 20px;
				.photo{

					width: 100%;						
				}
			}
		}
	}
	.social_projects_clients{
		padding-top: 35px;
		hr{
			top: 135px;
		}
		.man_right_side{
			display: none;
		}
	}
	.thank_letter{
		margin-bottom: 0;

		.main_text{
			font-size: 25px;
		}
		.diploma_letter{

			.card_letter{
				margin-left: 24px;
				.col-xl-5{

					.photo{

						img{
							position: static;
						}
					}
				}
				.col-xl-7{
					text-align: center;
				}
			}
		}
	}
}

@media screen and (min-width: 390px) and (max-width: 577px){
	.main_suppliers{

		hr{
			top: 35px;
			width: 50%;
		}
	}
}
/* Rotate Phone media queries */

@media screen and (min-width: 578px) and (max-width: 766px) {
	.partners{
		.container{
			.partners_part_one{

				hr{
					top: 6%;
				}	
				
			}
			.partners_part_two{

				.col-xl-4{

					margin-bottom: 20px;

					.wrapper{

						img{
							width: auto;
						}
						p{
							left: 16%;
						}

					}
					a{
						width: 40%;
					}
				}
			}
		}


		
		
	}
	.owl-carousel .owl-item img {

	}
	.certificates_clients{
		
		.container{
			.row{
				.col-xl-4{
					hr{

						top: 150px;
						width: 50%;
					}			
				}
			}
		}
		.arrow_certificate_clients{
			display: none;
		}
		.pagination_letter_clients{
			
		}
		.col-xl-8{
			
			.certificates_row{
				padding: 0;
				margin: auto;

				.col-xl-8{

					img{
					}
				}
			}
		}
	}

	.main_suppliers{

		hr{
			top: 2%;
			width: 55%;
		}
		.col-xl-4{
			margin-bottom: 20px;

			.wrapper{

				img{
					width: auto;
				}
				p{
					left: 20%;
				}
			}
		}
	}
	.portfolio_clients{
		padding-top: 20px;
		margin-top: 0;
		padding-bottom: 0;
		hr{
			top: 4%;
			width: 60%;
		}
		.all{
			float: none !important;
		}
		.wrapper{

			img{
				width: auto;
			}
			p{
				left: 20%;
				padding-left: 12%;
				padding-right: 12%;
			}
		}
	}
	.pressa_clients{

		hr{
			top: 7%;
		}
	}
	.news_clients{
		
		.row{
			
			.wrapper_card{
				margin-bottom: 20px;
				text-align: center;
				.photo{

					width: auto;						
				}
			}
		}
	}
	.social_projects_clients{

		hr{
			top: 16%;
			width: 52%;
		}
		.man_right_side{
			display: none;
		}
	}
	.thank_letter{
		margin-bottom: 0;
		.diploma_letter{

			.card_letter{

				.col-xl-5{

					.photo{
						margin: auto;
						img{
							position: static;
							width: auto;

						}
					}
				}
				.col-xl-7{
					text-align: center;
				}
			}
		}
	}
}
/* Tablet media queries (iPad) */
@media screen and (min-width: 767px) and (max-width: 1023px) {
	.partners{
		.container{
			.partners_part_one{

				hr{
					top: 6%;
				}	
				
			}
			.partners_part_two{

				.col-xl-4{

					margin-bottom: 20px;

					.wrapper{

						img{
							width: auto;
						}
						p{
							left: 16%;
						}

					}
					a{
						width: 40%;
					}
				}
			}
		}


		
		
	}
	.owl-carousel .owl-item img {

	}
	.certificates_clients{
		
		.container{
			.row{
				.col-xl-4{
					hr{

						top: 150px;
						width: 50%;
					}			
				}
			}
		}
		.arrow_certificate_clients{
			display: none;
		}
		.pagination_letter_clients{
			
		}
		.col-xl-8{
			
			.certificates_row{
				padding: 0;
				margin: auto;

				.col-xl-8{

					img{
					}
				}
			}
		}
	}

	.main_suppliers{

		hr{
			top: 2%;
			width: 55%;
		}
		.col-xl-4{
			margin-bottom: 20px;

			.wrapper{

				img{
					width: auto;
				}
				p{
					left: 20%;
				}
			}
		}
	}
	.portfolio_clients{
		padding-top: 20px;
		margin-top: 0;
		padding-bottom: 0;
		hr{
			top: 4%;
			width: 60%;
		}
		.all{
			float: none !important;
		}
		.wrapper{

			img{
				width: auto;
			}
			p{
				left: 20%;
				padding-left: 12%;
				padding-right: 12%;
			}
		}
	}
	.pressa_clients{

		hr{
			top: 6%;
		}
	}
	.news_clients{
		
		.row{
			
			.wrapper_card{
				margin-bottom: 20px;
				text-align: center;
				.photo{

					width: auto;						
				}
			}
		}
	}
	.social_projects_clients{

		hr{
			top: 16%;
			width: 52%;
		}
		.man_right_side{
			display: none;
		}
	}
	.thank_letter{
		margin-bottom: 0;
		.diploma_letter{

			.card_letter{

				.col-xl-5{

					.photo{
						margin: auto;
						img{
							position: static;
							width: auto;

						}
					}
				}
				.col-xl-7{
					text-align: center;
				}
			}
		}
	}
}

/* Tablet media queries (iPad Pro) */

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.partners{
		.container{
			.partners_part_one{

				hr{
					top: 6%;
				}	
				
			}
			.partners_part_two{

				.col-xl-4{

					margin-bottom: 20px;

					.wrapper{

						img{
							width: auto;
						}
						p{
							left: 16%;
						}

					}
					a{
						width: 40%;
					}
				}
			}
		}


		
		
	}
	.owl-carousel .owl-item img {

	}
	.certificates_clients{
		
		.container{
			.row{
				.col-xl-4{
					hr{

						top: 14%;
						width: 37%;
					}			
				}
			}
		}
		.arrow_certificate_clients{
			display: none;
		}
		.pagination_letter_clients{
			
		}
		.col-xl-8{
			
			.certificates_row{
				padding: 0;
				margin: auto;

				.col-xl-8{

					img{
					}
				}
			}
		}
	}

	.main_suppliers{

		hr{
			top: 2%;
			width: 55%;
		}
		.col-xl-4{
			margin-bottom: 20px;

			.wrapper{

				img{
					width: auto;
				}
				p{
					left: 20%;
				}
			}
		}
	}
	.portfolio_clients{
		padding-top: 20px;
		margin-top: 0;
		padding-bottom: 0;
		hr{
			top: 4%;
			width: 60%;
		}
		.all{
			float: none !important;
		}
		.wrapper{

			img{
				width: auto;
			}
			p{
				left: 20%;
				padding-left: 12%;
				padding-right: 12%;
			}
		}
	}
	.pressa_clients{

		hr{

			top: 6%;
		}
	}
	.news_clients{
		
		.row{
			
			.wrapper_card{
				margin-bottom: 20px;
				text-align: center;
				.photo{

					width: auto;						
				}
			}
		}
	}
	.social_projects_clients{

		hr{
			top: 16%;
			width: 52%;
		}
		.man_right_side{
			display: none;
		}
	}
	.thank_letter{
		margin-bottom: 0;
		.diploma_letter{

			.card_letter{

				.col-xl-5{

					.photo{
						margin: auto;
						img{
							position: static;
							width: auto;

						}
					}
				}
				.col-xl-7{
					text-align: center;
				}
			}
		}
	}
}
