.contacts_contact{
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	.container{
		position: static;
		p{
			font-weight: 500;
		}
		.main_title{
			font-size: 35px;
			font-weight: bolder;
		}
		hr{
			position: absolute;
			width: 21%;
			top: 6%;
			left: 0;
			background: black;
			border: 0.8px solid black;				
		}	
		.wrapper_main{
			margin-top: 50px;
		}
		.col-xl-5{
			
			.adress, .phone_numbers{
				font-weight: 600;
			}

			.col-xl-10{
				padding-left: 0;
				form{
					input[type="text"]{
						width: 100%;
						padding: 10px 20px; 	
						border: 2px solid #eff4f8;
						border-radius: 20px;
						margin-bottom: 10px;
						display: inline-block;
						box-sizing: border-box;
					}
					input[type="text"]::placeholder {

						color: gray;
					}
					textarea{
						resize: none;
						border-radius: 20px;
						border: 2px solid #eff4f8;
						padding: 5px;
						width: 100%;
						margin-bottom: 10px;	
					}	
					textarea::placeholder{
						padding-left: 10px;
						color: gray;
					}
					input[type="checkbox"]{
						height: 20px;
						width: 20px;
					}
					input:focus, textarea {
						outline: none !important;
					}
					.agree_text{
						display: inline;
						margin-bottom: 50px;
					}
					.submit_button{

						margin-top: 50px;
						background-color: #00b0c7;
						color: white;
						text-transform: uppercase;
						padding: 10px 75px 10px 75px;
					}
					.submit_button:hover{
						text-decoration: none;
						color: #00b0c7;
						background-color: transparent;
						border: 1px dotted #00b0c7;
					}
				}
			}
		}
		
	}
}
.masters_contact{

	background-image: url('../img/contact_bg_main.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 360px auto;
	.main_title{
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 30px;
	}
	.line_master_contact{
		position: absolute;
		left: 272px;
		top: 46px;

	}

	.main_master{
		margin-bottom: 30px;
	}
	.wrapper_master_main{
		margin-left: 30px;
		margin-top: 30px;

		.name{
			font-size: 20px;
			margin-bottom: 10px;
		}

		.position{
			font-size: 14px;
			color: gray;
		}

		.phone_title_contact, .email_title{
			font-weight: 550;
			font-size: 18px;
		}
		.phone_contact, .email{
			font-weight: 700;
		}
		.phone_contact{
			font-size: 20px;
		}
	}


	.low_masters {
		margin-bottom: 70px;

		.col-xl-6{

			.row{
				margin-bottom: 20px;
			}
		}
		.line_master_contact {
			position: absolute;
			left: 175px;
			top: 46px;
		}
		.wrapper_master_main {
			margin-left: 0px;
			margin-top: 30px;

			.name {
				font-size: 18px;
				margin-bottom: 10px;
			}

			.position{
				font-size: 13px;
				color: gray;
			}

			.phone_title_contact, .email_title{
				font-weight: 550;
				font-size: 16px;
			}
			.phone_contact, .email{
				font-weight: 700;
			}
			.phone_contact{
				font-size: 16px;
				font-weight: 600;
			}
		}		
	}
}


/* Media query Phone */ 
@media only screen and (max-width: 570px) {
	.contacts_contact{
		.container{

			hr{
				top: 4%;
				width: 47%;
			}	

			.col-xl-10{

				margin-bottom: 20px;
				form {

					label {
						
					}
					.submit{
						text-align: center;

						.submit_button {

						}	
					}
				}
			}
		}
	}
	.masters_contact{
		background-size: 160px auto;
		.main_master{

			.line_master_contact {
				display: none;
			}	
			.main_master_photo{
				max-width: 100%;
			}
		}
		.low_masters{
			margin-bottom: 0;

			.row{

				.col-xl-5{
					text-align: center;

					.line_master_contact{
						left: 255px;
						display: none;
					}
				}
			}
		}
	}

}
@media only screen and (min-width: 571px) and (max-width: 767px){
	.contacts_contact {
		.container {
			hr {
				top: 4%;
				width: 30%;
			}
		}
	}
}
@media only screen and (min-width: 403px) and (max-width: 490px){
	.masters_contact {
		background-image: initial;
	}
}
/* Media query iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.contacts_contact{
		.container{

			hr{
				top: 4%;
				width: 47%;
			}	

			.col-xl-10{

				margin-bottom: 20px;
				form {

					label {
						
					}
					.submit{
						text-align: center;

						.submit_button {

						}	
					}
				}
			}
		}
	}
	.masters_contact{
		background-size: 200px auto;


		.low_masters{


			.row{

				.col-xl-5{
					text-align: center;

					.line_master_contact{
						left: 255px;
						display: none;
					}
				}
			}
		}
	}

}
/* Media query iPad */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.contacts_contact{
		.container{

			hr{
				top: 4%;
				width: 47%;
			}	

			.col-xl-10{

				margin-bottom: 20px;
				form {

					label {
						
					}
					.submit{
						text-align: center;

						.submit_button {

						}	
					}
				}
			}
		}
	}
	.masters_contact{
		background-size: 200px auto;


		.low_masters{


			.row{

				.col-xl-5{

					.line_master_contact{
						left: 175px;
					}
				}
			}
		}
	}

}















