.welcome-section.content-hidden {
	
}
.welcome-section {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: #000;
	overflow: hidden;
	
	.content-wrap {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 200;
		.ml11 {
			font-weight: 700;
			font-size: 3.5em;
			.text-wrapper {
				position: relative;
				display: inline-block;
				padding-top: 0.1em;
				padding-right: 0.05em;
				padding-bottom: 0.15em;
			  }
			  .line {
				opacity: 0;
				position: absolute;
				left: 0;
				height: 100%;
				width: 3px;
				background-color: #fff;
				transform-origin: 0 50%;
			  }
			  .line1 { 
				top: 0; 
				left: 0;
			  }
			  .letter {
				display: inline-block;
				line-height: 1em;
				color: #fff;
			  }
		}
		

	} 
}
.about{
	// padding-top: 132px;
	// padding-bottom: 300px;
	background-image: url('../img/about_bg.jpg');
	background-size: 90%;
	background-repeat: no-repeat;
	position: relative;
	background-position: left center;
	
	.col-xl-9{
		position: static;
	}
	.about_page{
		h1 {
			font-weight: 800;
		}

		.first_p{
			margin-top: 50px;
		}
		a{	
			text-decoration: none;
			color: black;
			font-size: 16px;
			text-decoration: underline;
			img{
				margin: auto 2px;
			}
		}
	}	
}

.our_products{
	background-image: url('../img/our_production_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	width: 100%;
	padding: 50px 0;
	position: relative;
	h1{
		margin-bottom: 50px;
		font-weight: 800;
	}
	.col-xl-3{

		.photo_production{
			transition: transform .3s;
			a {

			}
			cursor: pointer;
			position: relative;
			p{
				font-weight: bolder;
				text-decoration: none;
				color: black;
				left: -25px;
				top: 287px;
				background-color: rgba(255,255,255,0.8);
				font-size: 18px;
				text-align: center;
				width: 255px;
				box-sizing: border-box;
				position: absolute;
				padding: 10px 0px;
				font-family: sans-serif !important;
			}
			

		}
		.photo_production:hover {
			transform: scale(1.1);
		}
		img{
			max-width: 100%;
		}
	}

	.row{
		text-align: center;
		.col-xl-3{
			margin-bottom: 20px;
		}
	}
}

.our_production{
	position: relative;
	.col-xl-4{
		position: static;
		.main_title{
			font-weight: 600;
			margin-left: 40px;
		}
	}
	.about_page{


		.first_p{
			margin-top: 20px;
		}
		a{
			text-decoration: none;
			text-decoration: underline;
			color: black;
			font-weight: 600;
		}
	}
	.photo_production{
		img{
			width: 100%;
		}
	}
}


.certificates{
	background-image: url('../img/certificate.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 70px;
	position: relative;
	color: #fff;
	.main_title{

		font-weight: 600;
		font-size: 40px;
	}
	
	.col-xl-8{
		padding-top: 20px;
		margin-top: 20px;
		text-align: center;
		margin: auto;
	}
}

.pressa{
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	.main_title{
		font-weight: 600;
	}
	.row {
		margin-top: 50px;
		align-items: center;
		
		.span2{
			align-items: center;
		}
	}
}

.our_objects{
	
	color: white;
	margin-top: 50px;
	
	background-image: url('../img/object_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 80px;
	position: relative;

	h1{
		margin: auto 0;
		margin-bottom: 0;
		font-weight: 800;
	}
	.photo_productions{
		margin-top: 50px;
		position: relative;

		.photo_production{

			img{
				width: 100%;
			}
			p{
				position: absolute;
				left: -5px;
				bottom: 10px;
				box-sizing: border-box;
				padding: 10px 80px;
				background-color: rgba(255,255,255,0.8);
				color: black;
				font-size: 20px;
				text-align: center;

			}
		}
	}
	.all_objects {
		text-align: right;
		margin: auto 0;
		
		a{

			text-align: right;
			text-decoration: none;
			color: white;
			cursor: pointer;
		}
	}
	.all_objects_two {
		text-align: center;
		margin: auto;
		margin-top: 20px;
		display: none;
	}
	
	
	.col-xl-4{

		img{
			max-width: 100%;
		}
	}
}

.contacts{
	background-image: url('../img/contacts_bg.jpg');
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	padding-top: 55px;
	padding-bottom: 100px;
	h1 {
		font-weight: 800;		
	}
	
	.row{
		margin-top: 50px;
		.col-xl-3{
			.phone_numbers{
				font-weight: 600;
			}
			input, textarea{
				margin-bottom: 10px;
				width: 100%;
				border-radius: 20px;
				border: 1px solid #d0d0d0;
				padding: 3px;
			}
			textarea{
				resize: none;
			}
			input::placeholder, textarea::placeholder{
				color: #aaaaaa;
				padding-left: 10px;
			}
			.send{
				text-align: center;
				a{
					text-decoration: none;
					background-color: #18b6cb;
					color: white;
					width: 100%;
					border: 1px solid #18b6cb;
					border-radius: 10px;
					transition: all.5s;
					padding: 5px 20px;
				}
				a:hover{
					background-color: transparent;
					color: #18b6cb;
				}
			}		
		}
	}
	
}



@media only screen and (max-width: 576px) {
	.arrows{
		position: static !important;
		text-align: center;
		margin: 2rem 0;
	}
	.about{
		background-image: none;
		padding-top: 0;
		padding-bottom: 0;
		background-size: 180%;
		background-repeat: no-repeat;
		background-position: right;
		p{
			z-index: 100;
		}
	}
	.our_products{
		padding-bottom: 50px;
		margin-bottom: 0;
		hr{
			display: none;
			top: 38px;
			width: 50%;
		}
		.container{

			.row{

				.col-xl-3{
					margin-bottom: 20px;
				}
			}
		}	

	}
	.our_production{
		margin-bottom: 50px;
	}

	.certificates{
		padding-top: 40px !important; 
		padding-bottom: 20px;
		
	}
	
	.pressa{
		margin-top: 30px;
		margin-bottom: 20px;
		
		.row{
			display: flex;
			flex-direction: column;
			.span2{
				margin-bottom: 30px;
			}
		}
	}
	.our_objects{
		padding-top: 20px;
		padding-bottom: 35px;
		
		.photo_productions{
			.col-xl-4{
				text-align: center;

				.photo_production{

					img{
						margin-bottom: 20px;
						max-width: 80%;
					}
					p{
						bottom: 40px;
					}
				}
			}
		}
		
		.all_objects{
			display: none;
		}
		.all_objects_two {
			display: block;
		}
	}
	.contacts{
		padding-top: 40px;
		
		.row{
			display: flex;
			flex-direction: column;
		}
		#map{
			height: auto;
			width: 95%;

			iframe{
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
	.arrows{
		position: static !important;
		text-align: center;
		margin: 2rem 0;
	}
	.about{
		background-image: none;
		padding-top: 0;
		padding-bottom: 0;
		background-size: 180%;
		background-repeat: no-repeat;
		background-position: right;
		p{
			z-index: 100;
		}
		.about_page{

			
			hr{
				top: 42px;
				width: 50%;
			}	
		}

	}
	.our_products{
		padding-bottom: 50px;
		margin-bottom: 0;
		hr{
			top: 38px;
			width: 50%;
		}
		.container{

			.row{

				.col-xl-3{
					margin-bottom: 20px;
				}
			}
		}	

	}
	.our_production{
		margin-bottom: 50px;

		.col-xl-4{

			hr{
				top: 45px;
				width: 50%;
			}	
		}
	}

	.certificates{
		padding-top: 40px !important; 
		padding-bottom: 20px;
		hr{
			top: 91px;
			width: 50%;
		}
	}
	
	.pressa{
		margin-top: 30px;
		margin-bottom: 20px;
		hr{
			width: 50%;
		}
		.row{
			display: flex;
			flex-direction: column;
			.span2{
				margin-bottom: 30px;
			}
		}
	}
	.our_objects{
		padding-top: 20px;
		hr{
			width: 50%;
			top: 60px;
		}
		.photo_productions{
			.photo_production{

				img{
					margin-bottom: 20px;
				}
				p{
					bottom: 40px;
				}
			}
		}
	}
	.contacts{
		padding-top: 40px;
		hr{
			width: 50%;
			top: 90px;
		}
		.row{
			display: flex;
			flex-direction: column;
		}
		#map{
			height: auto;
			width: 95%;

			iframe{
				width: 100%;
			}
		}
		.map_2gis{
			width: 150px;
			height: 100%;
		}
		#map {
			width: 200px;
			height: 200px;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.arrows{
		position: static !important;
		text-align: center;
		margin: 2rem 0;
	}
	.about{
		padding-top: 0;
		padding-bottom: 0;
		background-image: initial;

		.about_page{

			hr{

				top: 55px;
				width: 50%;
			}
		}
	}
	.our_products{
		margin-bottom: 0;
		padding-bottom: 0;
		hr{

			top: 55px;
			width: 50%;
		}

		.row {
			text-align: center;
			.col-xl-3{
				margin-bottom: 20px;
				.photo_production{

					p{
						left: 70px;
					}
				}
			}
		}
	}
	.our_production{
		margin-bottom: 30px;
		margin-top: 30px;
		.col-xl-4{
			.main_title{
				margin-left: 0;
			}
			hr{
				width: 50%;
				top: 5%;
			}	
		}
		
	}
	.our_objects{
		margin-bottom: 0;
		padding-top: 50px;
		hr{
			top: 85px;
			width: 50%;

		}
		.row{
			text-align: center;
			.col-xl-4{
				margin-bottom: 20px;
				.photo_production{
					
					img{
						width: 55%;
					}
					p{
						left: 150px;
						bottom: 60px;
					}
				}
			}
		}
	}
	.contacts{
		.container{

			.row{
				display: flex;
				justify-content: space-around !important;
			} 
		}
		
	}
}
@media only screen and (min-width: 992px) and (max-width: 1023px){
	.our_products{

		.row{

			.col-xl-3{
				.photo_production{
					p{
						left: 275px;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px){
	.about{
		padding-top: 0;
		padding-bottom: 0;
		background-image: initial;
		.about_page{

			hr{
				top: 40px;
			}
		}
	}
	.our_products{
		padding-top: 20px;
		margin-bottom: 40px;	
		hr{
			top: 4%;
			width: 48%;
		}	
		.row{

			text-align: center;
		}
		.col-xl-3{

			.photo_production{
				
				p{
					left: 195px;
					
				}
			}
		}
	}
	
	.our_production{
		.col-xl-4{
			hr{
				top: 40px;
				width: 50%;
			}	
		}
	}
	.certificates{
		margin-top: 20px;
	}
	.our_objects{
		margin-top: 0;
		padding-top: 40px;
		hr{
			top: 3%;

		}
		.photo_productions{
			text-align: center;
			
			.row{
				
				.col-xl-3{
					margin-bottom: 10px;
				}
			}
			.photo_production{
				margin-bottom: 20px;
				img{
					max-width: 55%;
				}
				p{
					left: 195px;
					bottom: 100px;
				}
			}
		}	
	}
	.contacts{
		padding-top: 50px;
		.container{

			.row{
				display: flex;
				justify-content: space-around !important;
			} 
		}
		hr{
			top: 100px;
		}
	}
}
@media only screen and (max-width: 1199px) {
	.pressa_clients{
		.wrapper_video {
			margin-top: 20px !important;
		}	
	}
}
.our_production{
	padding: 2rem 0 3rem;
}
