.technology_header{
	background-image: url('../img/technology_main_bg.png') !important;
}	

.technology_production_technology{
	padding-top: 60px;
	width: 100%;
	background: url('../img/bg_one_technology.png');
	background-position: bottom;
	background-size: cover;
	padding-bottom: 250px;
	position: relative;
	.container{
		position: static;
		.main_text{
			font-size: 35px;
			font-weight: 600;
			margin-bottom: 70px;
		}
		hr{
			position: absolute;
			left: 0;
			top: 94px;
			width: 51.5%;
			background: white;
			border: 0.5px solid black;
		}
		.text{
			font-size: 17px;
			text-align: left;
			margin-bottom: 50px;
		}
		.row{
			padding-bottom: 5px;

			.wrapper_technology{
				background-color: #334155;	
				padding-left: 30px;
				padding-top: 30px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				height: 241px;
				color: white;
				.title{
					font-size: 20px;
					font-weight: 600;
				}
				.row{
					.col-xl-11{
						padding-left: 0;
						margin-left: 0;
					}
				}
			}		
		}	
	}
}

.laboratory_technology{
	
	position: relative;
	top: -93px;
	span{
		font-weight: 600;
	}
	.container{	
		background-color: white;
		box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.41);
		padding: 50px;
		.main_text{
			font-size: 28px;
			margin-bottom: 30px;
		}

		.row{
			.col-xl-6{
				.text_first_card{
					text-align: left;
					font-size: 16px;
				}
				.card_technology{
					border: 1px solid #cad6df;
					padding: 9px;
					padding-right: 5px;
					.photo1{
						

						img{
							border: 10px solid white;
							width: 80%;
							position: absolute;
							top: -45px;
							left: 26px;
							max-width: 270px;
						}
					}
					.photo2{
						

						img{
							border: 15px solid white;
							width: 50%;
							position: absolute;
							top: -68px;
							left: 65px;
						}
					}
					.text_second_card{
						padding-top: 90px;
						p{
							margin-bottom: 0.8rem !important;
						}
					}	
				}
			}
		}
	}
}

/* Media query Phone */
@media only screen and (max-width: 577px){
	.technology_production_technology{
		.container{

			hr{
				top: 205px;
			}	
		} 
	} 
	.technology_production_technology{
		padding-bottom: 150px;
		.container{
			
			.main_text{
				margin-bottom: 30px;
			}
			.row{

				.wrapper_technology{

					width: 100%;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}

	.laboratory_technology{

		.container{
			padding: 20px 7px 10px 7px;
			.row{

				.first_card{
					margin-bottom: 77px;
				}
			}
		}
	}

}

/* Media query 578 px till 767px */
@media only screen and (min-width: 578px) and (max-width: 767px){
	.technology_production_technology{
		.container{

			hr{
				top: 155px;
			}	
		} 
	} 
	.technology_production_technology{

		.container{

			.row{

				.wrapper_technology{

					width: 100%;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}

	.laboratory_technology{

		.container{
			padding-bottom: 10px;
			.row{

				.first_card{
					margin-bottom: 77px;
				}
				.col-xl-6{

					.card_technology{

						.photo1{
							img{
								width: 50%;
							}
						}
						.photo2{
							img{
								width: 35%;
							}
						}
					}
				}
			}
		}
	}

}
@media only screen and (min-width: 435px) and (max-width: 577px){
	.technology_production_technology{
		.container{

			hr{
				top: 155px;
				width: 81%;
			}	
		} 
	} 
}
/* Media query Medium */
@media only screen and (min-width: 768px) and (max-width: 991px){
	.technology_production_technology{
		.container{

			hr{
				top: 100px;
				width: 81%;
			}	
		} 
	} 
	.technology_production_technology{

		.container{

			.row{

				.wrapper_technology{

					width: 100%;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}

	.laboratory_technology{

		.container{
			padding-bottom: 10px;
			.row{

				.first_card{
					margin-bottom: 77px;
				}
				.col-xl-6{

					.card_technology{

						.photo1{
							img{
								width: 40%;
							}
						}
						.photo2{
							img{
								width: 25%;
							}
						}
					}
				}
			}
		}
	}

}
/* Media query Large */
@media only screen and (min-width: 992px) and (max-width: 1199px){	
	.technology_production_technology{
		.container{

			hr{
				top: 102px;
				width: 64%;
			}	
		} 
	} 
	.technology_production_technology{

		.container{

			.row{

				.wrapper_technology{

					width: 100%;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}

	.laboratory_technology{

		.container{
			padding-bottom: 0;
			.row{

				.first_card{
					margin-bottom: 77px;
				}
				.col-xl-6{

					.card_technology{

						.photo1{
							img{
								width: 30%;
							}
						}
						.photo2{
							img{
								width: 19%;
							}
						}
					}
				}
			}
		}
	}

}