input[type="checkbox"]{
	display: none;
}

label{
	padding-left: 20px;
}
label:before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid gray;
	vertical-align: middle;
	margin-left: -10px;
	margin-right: 10px;
	transition: 0.2s;
}
input[type="checkbox"]:checked + label:before{
	background-color: #fff;
	background-image: url("../img/tick.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;

}