.owl-sertevicate{
    .owl-item{
        img{
            width: 50%;
            margin: 0 auto;
        }
    }
}
.arrows{
    position: absolute;
    top: -3rem;
    right: 0;
    a{
        img{
            filter: invert(1);
            margin-right: 10px;
            transition: all .5s ease;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}