


footer{
	color: white;
	background-color: black;
	margin: auto;
	padding-top: 45px;
	padding-bottom: 45px;
	.col-xl-9{
		.row{

			a{
				margin: auto;
				color: white;
				
				text-decoration: none;
			}

			img{
				margin-right: 25px;

			}
			i{
				margin: auto;

				color: white;
				margin-left: 5px;
				margin-right: 10px;
			}
			.icon1{
				margin-left: 20px;
			}
		}
	}
	.all_rights{
		font-size: 15px;
		text-align: center;	
	}

	
}

@media only screen and (max-width: 576px) {
	footer{
		padding-top: 10px;
		.col-12{
			.row{
				display: flex;
				flex-direction: column;
				text-align: center;

				a{
					
					color: white;
					text-decoration: none;
				}

				img{
					margin: auto !important;
					padding-bottom: 10px;
					text-align: center;
					width: 50px;
				}
				i{
					margin: auto !important;
					padding-bottom: 10px;
					text-align: center;
					width: 50px;
				}
			}
		}

	}
	
}
@media only screen and (min-width: 568px) and (max-width: 767px){
	footer{
		.col-12{
			.row{
				display: flex;
				flex-direction: column;
				text-align: center;

				a{
					
					color: white;
					text-decoration: none;
				}

				img{
					margin: auto !important;
					padding-bottom: 10px;
					text-align: center;
					width: 50px;
				}
				i{
					margin: auto !important;
					padding-bottom: 10px;
					text-align: center;
					width: 50px;
				}

			}
		}	
	}

}
@media only screen and (min-width: 768px) and (max-width: 920px) {
	footer{
		.col-12{
			.row{
				display: flex;
				text-align: center;
				flex-direction: column;
				a{
					
					color: white;
					text-decoration: none;
				}

				i{
					margin: auto !important;
					padding-bottom: 10px;
					text-align: center;
					width: 50px;
				}
			}
		}	
	}
}
