$font-stack: Helvetica, san-serif;
$primary-color: #333;
$bg-color: black;
$p-color: #f1f1f1;

@import 'fonts.css';


*{
	font-family: 'Circe Regular',sans-serif;
	margin: 0 0;
	padding: 0;
}
/* Main header */
.menu_alugal{
	padding-bottom: 20px;
	z-index: 5;
	right: 0;
	display: none;
	position: fixed;
	height: 100vh;
	width: 25%;
	background-color: rgba(0,0,0,0.8);
	.menu{
		text-align: center;
		display: flex;
		margin-top: 90px;
		flex-direction: column;
		
		img {
			width: 6px;
			height: auto;
			margin: auto;
		}
		.logo {
			margin-top: 20px;
			margin-bottom: 30px;
			height: auto;
			img{
				width: 110px;	
			}
		}
		a {
			font-size: 14px;
			margin-top: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			font-weight: 800;

		}
		a:hover{
			color: white;
		}
		.icons{
			
			margin-top: 10px;
			margin-bottom: 10px;	
			i {
				margin-left: 10px;
				color: white;
			}	
		}
	}
	.phone_numbers{
		position: static;
		top: 15px;
		left: 15px;
		p {
			color: white;
			font-weight: 800;
			margin-bottom: 0px;
		}
	}
}

.navigation {
	position: absolute;
	right: 5px;
	top: 5px;
}
.padding {
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	width: 65px;
	height: 65px;
	z-index: 2;
}
header{
	width: 100%;
	background-image: url('../img/main_bg.png');
	background-size: cover;
	
	
	.logo{
		position: absolute;
		left: 15px;
		top: 15px;
	}	
	.others{
		position: fixed;
		top: 0px;
		right: 0px;
		z-index: 1000;
		background-color: rgba(0,0,0,0.7);
		padding: 55px 20px 10px 20px;
		
		.ru{
			margin: auto;
			font-size: 14px;
			display: block;
			font-weight: 600;
			border-radius: 25px;
			border: 2px solid white;
			background-color: white;
			cursor: pointer;
		}
		.search{
			display: block;
			margin: auto;
			margin-top: 17px;
			padding-bottom: 10px;
			cursor: pointer;
		}
		.input_search{
			position: fixed;
			top: 50px;
			right: 50px;
			z-index: 1001;
			background-color: green;	
			.input{
				background-color: green;
			}
		}
	}
	.input_search{
		position: fixed;
		top: 50px;
		right: 50px;
		z-index: 1001;
		.input{
			background-color: green;
		}
	}



	.main{
		padding-top: 170px;
		margin-bottom: 50px;
		.main_text{
			margin-bottom: 200px;
			width: 55%;
			font-size: 40px;
			margin: 0 auto;
			line-height: 18px;
			position: relative;
			text-transform: uppercase;
			p{
				margin-top: 0;
				margin-bottom: 1rem;
				line-height: 2.6rem;
			}
			span{
				font-size: 12px;
				top: 3rem;
				position: absolute;
				width: 54%;
				left: 13.5rem;
				line-height: 1.3;
			}
		}
		

		.cards {
			margin-top: 170px;
			padding-bottom: 200px;
			display: flex;
			flex-direction: row;

			.card{
				padding: 20px;
				width: 19%;
				color: #fff;
				background-color: rgba(0,0,0,0.7);
				margin: auto;
				display: flex;
				flex-direction: row;
				transition: transform .3s;
				.line{
					width: 35%;
					margin-right: 10px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					span{
						width: 3rem;
						height: 2px;
						background-color: #fff;
						display: inline-block;
					}	
				}
				.card_items{
					width: 100%;
					img{
						margin-bottom: 10px;
						height: 50px;
					}
				}	
				
				
				.card_items{
					margin: 0 auto;
				}
				p{
					font-size: 20px;
					
				}
				.text_p{

					font-size: 10px !important;
				}
			}
			.card:hover {
				background-color: rgba(0,0,0,0.8);
				transform: scale(1.1);
			}
		}
	}
}

/* End of Main header */
.logo_main{
	position: absolute;
	left: 15px;
	top: 15px;
	p{
		font-size: 12px;
		margin-top: 5px;
	}
}	
.header{
	width: 100%;
	background-image: url('../img/main_bg_clients.png');
	background-size: cover;
	.logo {
		position: absolute;
		top: 15px;
		left: 15px;
	}
	
	.menu{
		background-color: black;
		opacity: 0.9;
		padding: 10px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		ul{
			li{
				display: block;
				img{
					width: 20px;
				}
			}
		}
	}
	.others{
		position: fixed;
		top: 0px;
		right: 0px;
		z-index: 1000;
		background-color: rgba(0,0,0,0.7);

		padding: 55px 20px 10px 20px;
		
		.ru{
			margin: auto;
			font-size: 14px;
			display: block;
			font-weight: 600;
			border-radius: 25px;
			border: 2px solid white;
			background-color: white;
			cursor: pointer;
		}
		.search{
			display: block;
			margin: auto;
			margin-top: 17px;
			padding-bottom: 10px;
			cursor: pointer;
		}
		.input_search{
			position: fixed;
			top: 50px;
			right: 50px;
			z-index: 1001;
			background-color: green;	
			.input{
				background-color: green;
			}
		}
	}

	.main{
		padding-top: 100px;
		padding-bottom: 90px;
		p{

			display: inline;
			color: white;
			font-size: 16px;
		}

		.main_text{
			display: block;
			font-size: 35px;			
		}
		.main_text_one{
			margin-right: 10px;
			border-bottom: 1px solid #00b0c7;
			padding-bottom: 3px;
			text-decoration-color: #00b0c7;
		}
		.main_text_two{
			margin-left: 10px !important;
		}

	}
}








/* Main page(Media queries) */
@media only screen and (max-width: 576px) {
	.menu_alugal{
		width: 70%;
	}
	.menu_alugal .phone_numbers {
		position: initial;
		text-align: center;
	}
	header{
		.navigation{
			text-align: center;
			.logo{
				padding-top: 20px;
				width: 95%;
			}	
		}
		.main{

			.cards{
				padding-bottom: 50px;
			}
			.main_text{
				margin: 200px auto 50px auto !important;
				width: 80% !important;
				p{


					span{
						position: static !important;
						line-height: 1px !important;
						font-size: 15px;
					}	
				}

			}
			.cards{
				display: block !important;
				.card{
					width: 90% !important;
					margin-bottom: 10px;

				}
			}
		}	
	}
}

@media only screen and (min-width: 580px) and (max-width: 769px){
	.menu_alugal{
		width: 70%;
	}
	header {

		.main{

			.cards{
				padding-bottom: 50px;
			}
			.main_text{
				margin: 200px auto 50px auto !important;
				width: 80% !important;
				p{


					span{
						position: static !important;
						line-height: 1px !important;
						font-size: 15px;
					}	
				}

			}
			.cards{
				display: block !important;
				.card{
					width: 90% !important;
					margin-bottom: 10px;

				}
			}
		}
	}
}


@media only screen and (min-width: 770px) and (max-width: 1023px){
	.menu_alugal{
		width: 70%;
	}
	header{

		.main{

			.main_text{
				width: 42%;

				p{

					span{

						position: static;
						display: block;
						width: 100%;
					}
				}
			}
			.cards{

				.card{
					padding-bottom: 20px;
					margin: 0 auto;
					p{
						margin-bottom: 0;
						font-size: 13px;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 770px) and (max-width: 919px){
	.menu_alugal{
		width: 70%;
	}
	header{
		.main{

			.cards{
				padding-bottom: 50px;
			}
			.main_text{
				margin: 200px auto 50px auto !important;
				width: 80% !important;
				p{


					span{
						position: static !important;
						line-height: 1px !important;
						font-size: 15px;
					}	
				}

			}
			.cards{
				display: block !important;
				.card{
					width: 40% !important;
					margin-bottom: 10px;

				}
			}
		}
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px){
	header{

		.main{

			.main_text{
				
				span{

					position: static;
					display: block;
					width: 100%;
				}	
			}
			.cards{

				.card{
					height: 150px;
					p{
						font-size: 14px;
					}			

				}
			}
		}
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1318px){
	header{
		.main{
			.main_text{
				span{
					position: static;
					display: block;
					width: 70%;
				}
			}
		}
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1210px){
	header{
		.main {
			.cards {
				.card {
					p {
						font-size: 19px;
					}
				}
			}
		}
	}
}
/* End of Main page(Media queries) */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
            supported by Chrome and Opera */
        }